<?xml version='1.0' encoding='utf-8'?>
<plugin id="de.apparentmedia.cordova.native_ui_plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativeUIPlugin</name>
    <js-module name="native-ui-plugin" src="www/native-ui-plugin.js">
        <clobbers target="cordova.plugins.native-ui-plugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="native-ui-plugin" >
                <param name="android-package" value="de.apparentmedia.cordova.NativeUIPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/NativeUIPlugin.java" target-dir="src/de/apparentmedia/cordova" />
    </platform>
</plugin>
